body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .container {
    display: flex;
    height: 100vh;
    overflow: hidden;
  }
  
  .card {
    flex: 1;
    background-size: cover;
    background-position: center;
    position: relative;
    transition: all 0.3s ease;
  }
  
  .card:hover {
    /* filter: grayscale(100%); */
    backdrop-filter: blur(5px);
  }
  
  .info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: white;
    transition: all 0.3s ease;
  }
  
  .info .more-info {
    display: none;
    opacity: 0;
    transition: all 0.3s ease;
  }
  
  .card:hover .more-info {
    display: block;
    opacity: 1;
    transition: all 0.3s ease;
  }
  
  .info h2 {
    margin: 0;
    font-size: 24px;
  }
  
  .info p {
    margin: 5px 0;
    font-size: 18px;
  }
  
  .more-info {
    color: #c34a36;
    text-decoration: none;
    font-size: 16px;
  }
  