/* Style général de la galerie */
.galerie-container {
    width: 100%;
    height: 300%;
    /* margin: 0 auto; */
    text-align: center;
    font-family: sans-serif;
    background-color:#1a1818;
}
.boddy{
    width: 100vw;
    height: 100vh;
}

.galerie-container h5 {
    margin-top: 20px;
    font-size: 0.5em;
    text-align:calc(10);
    color:#d5cabd;
}

/* Style des conteneurs d'images */
.galerie {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0px;
    margin-top: 5px;
}

.image-container {
    width: 150px;
    height: 300px;
    position: relative;
    overflow: hidden;
    border: 1px solid #ddd;
    cursor: pointer;
    filter: brightness(65%)
    contrast(110%);
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s ease;
}

.image-container:hover img {
    transform: scale(1.1);
}

/* Style des détails des images */
.details {
    position: absolute;
    bottom: 0;
    width: 30%;
    color: white;
    padding: 15px;
    padding-left:65;
    text-align: justify;
   
}

.location {
    font-size: 0.8em; /* Use em units for relative font size */
    margin-bottom: 5px;
}

.details h2 {
    margin: 0;
    padding: 0;
    font-size: 0.9em;
    height: 10%;
    padding-left:80;
    font-family: Arial;
    font-stretch: extra-expanded;
}

.details p {
    margin: 0;
    padding: 0;
    font-size: 0.4em;
    line-height: 3;
    padding-left:150;
}